/*
 *= require 'css/bootstrap.css'
 */

 #blue {
  height: 50px;
  background-color: blue;
 }

  #yellow {
  height: 500px;
  background-color: yellow;
 }

  #green {
  height: 500px;
  background-color: green;
 }

  #orange {
  height: 50px;
  background-color: orange;
 }

  #black {
  height: 50px;
  background-color: black;
 }


  #red {
  height: 50px;
  background-color: red;
 }