

<h1> <%= link_to "delete", animal_path(@animal), :method => :delete, :confirm => "Are you sure you want to delete this animal?" %></h1>

<h1> <%= link_to @animal.name, edit_animal_path(@animal) %></h1>
<p>  <%= @animal.species %> </p>
<p>  <%= image_tag @animal.photo %> </p>
