<h1>YOUR FULL PORTFOLIO</h1>

<% @display.each do | symbol, stocks| %>
	<h1> <%= sybmol %></h1>

	<ul>
			<% stocks.each do |stock| %>
			<li><%= number_to_currency stock.quote %></li>
			<% end %>	
	</ul>
<% end %>